<form action="/" method="post" role = 'form'>
  <div class="form-group">
    <label for="emailSubmit">Ingrese su email</label>
    <input value="nicocastx3@gmail.com" type="text" class="form-control" id="emailSubmit" aria-describedby="nameHelp"
      placeholder="Ingrese su email" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input value="123" type="password" class="form-control" name="password" id="password" placeholder="Ingrese su contraseña">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <p class="text-center text-muted mt-5 mb-0">No tienes una cuenta? <a href="register"
          class="fw-bold text-body"><u>Registrate aqui</u></a></p>
</form>